{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
    <style>
        button{
            background-color: rgb(48, 135, 211);
            border:none;
            border-radius:36px;
            display: block;
            margin: auto;
            margin-top: 45px;
            font-size: larger;
            font-size: 25px;
            padding: 35px;
        }
        a{
            text-decoration: none;
            color: wheat;
        }
    </style>
</head>
<body>
    <button><a href="{{link}}" download>Click here to download</a></button>
</body>
</html>